name: CI

on:
  push:
    paths-ignore:
      - 'README.md'
      - '.github/**'
    branches: [ main ]
  pull_request:
    paths-ignore:
      - 'README.md'
      - '.github/**'
    branches: [ main ]
  workflow_dispatch:

defaults:
  run:
    shell: PowerShell

jobs:
  Settings:
    runs-on: windows-latest
    outputs:
      RepoVersion: ${{steps.settings.outputs.RepoVersion}}
      RepoName: ${{steps.settings.outputs.RepoName}}
      AppBuild: ${{steps.settings.outputs.AppBuild}}
      AppRevision: ${{steps.settings.outputs.AppRevision}}
      KeyVaultName: ${{steps.settings.outputs.KeyVaultName}}
      TemplateUrl: ${{steps.settings.outputs.TemplateUrl}}
      TemplateBranch: ${{steps.settings.outputs.TemplateBranch}}
      LicenseFileUrlSecretName: ${{steps.settings.outputs.LicenseFileUrlSecretName}}
      InsiderSasTokenSecretName: ${{steps.settings.outputs.InsiderSasTokenSecretName}}
      CodeSignCertificateUrlSecretName: ${{steps.settings.outputs.CodeSignCertificateUrlSecretName}}
      CodeSignCertificatePasswordSecretName: ${{steps.settings.outputs.CodeSignCertificatePasswordSecretName}}
      KeyVaultCertificateUrlSecretName: ${{steps.settings.outputs.KeyVaultCertificateUrlSecretName}}
      KeyVaultCertificatePasswordSecretName: ${{steps.settings.outputs.KeyVaultCertificatePasswordSecretName}}
      KeyVaultClientIdSecretName: ${{steps.settings.outputs.KeyVaultClientIdSecretName}}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Read settings
        uses: freddydk/myghgo/ReadSettings@main
        with:
          get: RepoVersion,RepoName,AppBuild,AppRevision,KeyVaultName,TemplateUrl,TemplateBranch,LicenseFileUrlSecretName,InsiderSasTokenSecretName,CodeSignCertificateUrlSecretName,CodeSignCertificatePasswordSecretName,KeyVaultCertificateUrlSecretName,KeyVaultCertificatePasswordSecretName,KeyVaultClientIdSecretName

      - name: Output
        id: settings
        run: |
          "RepoVersion,RepoName,AppBuild,AppRevision,KeyVaultName,TemplateUrl,TemplateBranch,LicenseFileUrlSecretName,InsiderSasTokenSecretName,CodeSignCertificateUrlSecretName,CodeSignCertificatePasswordSecretName,KeyVaultCertificateUrlSecretName,KeyVaultCertificatePasswordSecretName,KeyVaultClientIdSecretName".Split(',') | % {
            Write-Host "set-Output nname=$($_)::$($env.$_)"
            Write-Host "set-Output nname=$($_)::$($env."$_")"
            Write-Host "::set-Output nname=$($_)::$($env.$_)"
          }

          Write-Host "::set-output name=MyTest::MyTest"

        
  SeeOutput:
    runs-on: windows-latest
    needs: Settings
    steps:
    - name: Output
      run: |
        Write-Host "${{ needs.Settings.outputs.RepoVersion }}"
        Write-Host "${{ needs.Settings.outputs.MyTest }}"
  CheckForUpdates:
    runs-on: windows-latest
    needs: Settings
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check for updates to GitHub-Go system files
        uses: freddydk/myghgo/CheckForUpdates@main
        with:
          templateUrl: ${{needs.Settings.outputs.TemplateUrl}}
          templateBranch: ${{needs.Settings.outputs.TemplateBranch}}
  ReadSecrets:
    runs-on: windows-latest
    needs: Settings
    steps:
      - name: Read secrets
        uses: freddydk/myghgo/ReadSecrets@main
        env:
          secrets: ${{toJson(secrets)}}
        with:
          keyVaultName: ${{needs.Settings.outputs.KEYVAULTNAME}}
          secrets: 'licenseFileUrl=${{needs.Settings.outputs.LicenseFileUrlSecretName}},insiderSasToken=${{needs.Settings.outputs.InsiderSasTokenSecretName}},CodeSignCertificateUrl=${{needs.Settings.outputs.CodeSignCertificateUrlSecretName}},CodeSignCertificatePassword=${{needs.Settings.outputs.CodeSignCertificatePasswordSecretName}},KeyVaultCertificateUrl=${{needs.Settings.outputs.KeyVaultCertificateUrlSecretName}},KeyVaultCertificatePassword=${{needs.Settings.outputs.KeyVaultCertificatePasswordSecretName}},KeyVaultClientId=${{needs.Settings.outputs.KeyVaultClientIdSecretName}}'

  RunPipeline:
    runs-on: windows-latest
    needs: [ Settings, readsecrets ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run pipeline
        uses: freddydk/myghgo/RunPipeline@main
        with:
          insiderSasToken: ${{needs.readsecrets.outputs.InsiderSasToken }}
          licenseFileUrl: ${{needs.readsecrets.outputs.LicenseFileUrl }}
          CodeSignCertificateUrl: ${{needs.readsecrets.outputs.CodeSignCertificateUrl }}
          CodeSignCertificatePw: ${{needs.readsecrets.outputs.CodeSignCertificatePassword }}
          KeyVaultCertificateUrl: ${{needs.readsecrets.outputs.KeyVaultCertificateUrl }}
          KeyVaultCertificatePw: ${{needs.readsecrets.outputs.KeyVaultCertificatePassword }}
          KeyVaultClientId: ${{needs.readsecrets.outputs.KeyVaultClientId }}
          appBuild: ${{needs.Settings.outputs.appBuild }}
          appRevision: ${{needs.Settings.outputs.appRevision }}

      - name: Publish test results
        if: success() || failure()
        uses: mikepenz/action-junit-report@v1
        with:
          report_paths: 'TestResults*.xml'
          github_token: ${{ github.token }}
          
      - name: Publish artifacts - apps
        uses: actions/upload-artifact@v2
        with:
          name: '${{needs.Settings.outputs.repoName}}-Apps-${{needs.Settings.outputs.repoVersion}}.${{needs.Settings.outputs.appBuild}}.${{needs.Settings.outputs.appRevision}}'
          path: output/Apps/
          if-no-files-found: ignore

      - name: Publish artifacts - test apps
        uses: actions/upload-artifact@v2
        with:
          name: '${{needs.Settings.outputs.repoName}}-TestApps-${{needs.Settings.outputs.repoVersion}}.${{needs.Settings.outputs.appBuild}}.${{needs.Settings.outputs.appRevision}}'
          path: output/TestApps/
          if-no-files-found: ignore

      - name: Publish artifacts - test results
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: testresults
          path: TestResults.xml
          if-no-files-found: ignore

      - name: Cleanup
        if: always()
        uses: freddydk/myghgo/PipelineCleanup@main

